.vs/
.vscode/
bin/
obj/
artifacts/
dist-yak/
dist/yak/crowdflow/net*/
dist/yak/crowdflow/misc/
dist/yak/crowdflow/icon.png
*.user
*.rsuser
*.suo
*.cache
*.log
*.tmp
*.pdb
*.zip

# Rhino and Grasshopper local outputs
*.gha
*.yak

# OS noise
Thumbs.db
Desktop.ini
